* {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  text-align: center;
  background-color: #0e356f;
  color: white;
}

.main {
  height: 100vh;
  display: grid;
  place-content: center;
}

.titulo {
  padding-bottom: 50px;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campos input {
  padding: 10px 20px;
  background-color: white;
  border-radius: 24px;
}

.buttons {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.buttons button {
  padding: 5px 10px;
  display: flex;
  place-content: center;
  place-self: center;
  width: 80px;
  border-radius: 50px;
  color: black;
  background-color: white;
}

.buttons a {
  padding: 10px;
}